<!DOCTYPE html>
<html>
<head>
  <title>FridgeFlex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.js"></script>
</head>
<body>
  <header>
    <ul class="left">
      <div id="logo">
        <h1>fridge.flex</h1>
      </div>
      <% if current_user && current_user.profile %>
        <li><%= link_to 'Profile', profile_path(current_user.profile) %> </li>
        <li><%= link_to 'Fridge', fridge_path(current_user.profile.fridge) %> </li>
      <% end %>
    </ul>
    <ul class= "right">
      <% if current_user && current_user.profile %>
      <li>  <%= link_to 'Signout', destroy_user_session_path, :method => :delete, class: "sign_out" %> </li>
        <li><em><%= link_to "Welcome #{current_user.email}", profile_path(current_user.profile)%></em></li>
      <% elsif current_user %>
          <li><em><%= link_to "Welcome #{current_user.email}", '/profile'%></em></li>
          <li>  <%= link_to 'Signout', destroy_user_session_path, :method => :delete, class: "sign_out" %> </li>

      <% end %>
    </ul>

  </header>

<%= yield %>

</body>
</html>
